<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
              rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <div class="container mx-auto py-4 flex place-content-between items-center">
            <img src="{{ asset('images/phph-logo.svg') }}" alt="PHP Hampshire" width="160">
            <a href="https://www.meetup.com/meetup-group-phphants/" target="_blank"
               class="bg-meetup-pink text-white text-bold px-16 py-2 uppercase font-semibold rounded font-sans-200">Attend</a>
        </div>
        <div class="bg-gray-200 py-16">
            <div class="container mx-auto">
                <div class="flex">
                    <div>
                        <div class="calendar">
                            <div class="calendar-top bg-meetup-pink text-white rounded-t-lg px-4 py-2 w-48 text-lg text-center uppercase font-bold">
                                Next Event
                            </div>
                            <div class="calendar-bottom bg-white w-48 h-36 rounded-b-lg flex items-center justify-center text-2xl">
                                <pre class="font-sans "></pre>
                            </div>
                        </div>
                    </div>
                    <div class="px-10 py-4">
                        <h1 class="text-6xl">Welcome to PHP Hants</h1>
                        <p class="text-xl max-w-3xl">PHP Hants is a monthly meetup aiming to help people learn, share
                            knowledge
                            and support the PHP & Tech community in Hampshire and the surrounding areas.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
<main class="container mx-auto">
    {% block body %}{% endblock %}
</main>
<footer></footer>
</body>
</html>
